<div class="page" id="progress_index" data-pageTitle="主页面" data-refresh="yes" data-pageLevel="1">
    <section class="main fixed" data-page="home">
        <header>

        </header>
        <article>
            <div id="bg"></div>
            <div class="login_bg">
                <div id="logo">
                    <img src="images/logo.png"/>
                </div>
                <div class="progress_index_form">
                    <div class="ti">
                        <h3>宽带装移修进度查询</h3>
                    </div>
                    <div class="userName">
                        <lable>手机号：</lable>
                        <input type="number" name="mobile" id="mobile" placeholder="请输入预留手机号"
                               pattern="^1[345678][0-9]{9}$" required/>
                    </div>
                    <button class="login_btn" id="submit">查&nbsp;&nbsp;询</button>
                </div>
                <div class="other_login">
                    <div class="other"></div>
                    <span>温馨提示</span>

                    <div class="other"></div>
                </div>
                <div class="other_choose">
                    <p>欢迎您使用中国联通业务</p>
                </div>
            </div>
        </article>
        <footer>

        </footer>
    </section>
</div>