.ui.checkbox, .ui.radio {
    display: inline-block;
    vertical-align: middle;
}

.ui.checkbox > input[type=checkbox], .ui.radio > input[type=radio] {
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2
}

.ui.checkbox label, .ui.radio label {
    padding-left: .24rem;
    position: relative;
    display: inline-block;
    min-height: .16rem;
    min-width: .16rem;
    vertical-align: middle
}

.ui.checkbox a{
    position: relative;
    display: inline-block;
    *display:inline;
    *zoom:1;
    min-height: .16rem;
    min-width: .16rem;
    vertical-align: middle
}

.ui.checkbox i {
    position: relative;
    display: inline-block;
    *display:inline;
    *zoom:1;
    min-height: .16rem;
    min-width: .16rem;
    vertical-align: middle
}

.ui.checkbox label:after, .ui.radio label:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.ui.radio label:before {
    content: "";
    width: .18rem;
    height: .18rem;
    border: 1px solid #CBCBCB;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -.09rem
}

.ui.radio input[type=radio]:checked + label:after {
    content: "";
    width: .1rem;
    height: .1rem;
    background: #939393;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    left: .04rem;
    top: 50%;
    margin-top: -.05rem
}

.ui.checkbox label:before {
    content: "";
    width: .16rem;
    height: .16rem;
    border: 1px solid #CBCBCB;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -.08rem
}

.ui.checkbox input[type=checkbox]{
    display: none;
}
.ui.checkbox input[type=checkbox]:checked + label:before {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAANwAAADcBYx2BhQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAE/SURBVDiNndK/S5VxFMfx13MNHEJEMBS+i7Q0uIlDW66Bk33xyX9AyKkh4jYWNBREc6NbX3wmwXAQWsLEQAf/ABV8IBoCJyGip+V74yrPDa9nOr8+73MOnKJpGjexsqq7+FHcBFBW9QJ2sDc0oKzqaRxiEnOdIcUj+IhpvEsxHA0FwGs8wDFewbVPKKt6EZso8DDFsA3F8sbZJP6kGH7+RzyDA0wgpRge92odfMBuWdV3B4hHsZHF53jaX+/gFPewV1b1/RbGe8xnv5ti+H4V8AyfcAefy6p+1Dd9BU9y+DVve8mKpmmUVT2WG2bR4Dm28A238RtzKYajVkCeNoP9vIl873j236QYui3n+fcHKYYTLOFXTvXEx3jZJr4EyJAvWL3Ss5ZiuLgWIEPW8bYX9h5mkN0akH+BKbTe3W9/AZEpZ295gzDOAAAAAElFTkSuQmCC) no-repeat center;
    background-size: .12rem
}

.ui.switch {
    height: .3rem;
    width: .6rem;
    position: relative;
    overflow: hidden
}

.ui.switch > input[type=checkbox] {
    width: .6rem;
    height: .3rem;
    position: absolute;
    left: 0;
    top: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 100
}

.ui.switch > .ui.switch-inner {
    height: .3rem;
    position: relative;
    background: #CCC;
    -moz-border-radius: .3rem;
    -webkit-border-radius: .3rem;
    border-radius: .3rem
}

.ui.switch > .ui.switch-inner > .ui.switch-btn {
    height: .3rem;
    width: .6rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5
}

.ui.switch > .ui.switch-inner > .ui.switch-btn span {
    width: .6rem;
    height: .3rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: .12rem;
    text-indent: -30rem;
    -moz-border-radius: .3rem;
    -webkit-border-radius: .3rem;
    border-radius: .3rem;
    overflow: hidden;
    transition: all .2s ease-in 0s;
    -moz-transition: all .2s ease-in 0s;
    -webkit-transition: all .2s ease-in 0s;
    opacity: 0;
    transform: scale(.5);
    -moz-transform: scale(.5);
    -webkit-transform: scale(.5);
    position: absolute;
    left: 0;
    top: 0
}

.ui.switch > .ui.switch-inner > .ui.switch-btn .active {
    background: #1098ED
}

.ui.switch > .ui.switch-inner > .ui.switch-arrow {
    height: .26rem;
    width: .26rem;
    background: #FFF;
    position: absolute;
    top: .02rem;
    right: .32rem;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    transition: all .1s ease-in 0s;
    -moz-transition: all .1s ease-in 0s;
    -webkit-transition: all .1s ease-in 0s;
    z-index: 10
}

.ui.switch > input[type=checkbox]:checked + .ui.switch-inner > .ui.switch-btn .active {
    opacity: 1;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1)
}

.ui.switch > input[type=checkbox]:checked + .ui.switch-inner .ui.switch-arrow {
    right: .02rem
}

.ui.switch.text > .ui.switch-inner > .ui.switch-btn {
    height: .3rem;
    line-height: .3rem;
    margin-left: -100%;
    transition: margin .1s ease-in 0s;
    -moz-transition: margin .1s ease-in 0s;
    -webkit-transition: margin .1s ease-in 0s;
    width: 200%;
    position: relative
}

.ui.switch.text > .ui.switch-inner > .ui.switch-btn span {
    float: left;
    width: 50%;
    height: .3rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: .12rem;
    text-indent: 0;
    opacity: 1;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1)
}

.ui.switch.text > .ui.switch-inner > .ui.switch-btn .active {
    color: #FFF;
    padding-right: .26rem;
    text-align: center;
    background: 0 0
}

.ui.switch.text > .ui.switch-inner > .ui.switch-btn .inactive {
    color: #FFF;
    padding-left: .26rem;
    text-align: center;
    background: 0 0
}

.ui.switch.text > input[type=checkbox]:checked + .ui.switch-inner {
    background: #1098ED
}

.ui.switch.text > input[type=checkbox]:checked + .ui.switch-inner .ui.switch-btn {
    margin-left: 0
}

.ui.switch.text > input[type=checkbox]:checked + .ui.switch-inner .ui.switch-arrow {
    right: .02rem
}

.ui.notice {
    display: block;
    padding: .05rem .1rem;
    -moz-border-radius: .03rem;
    -webkit-border-radius: .03rem;
    border-radius: .03rem;
    background: #d9edf7;
    color: #3a87ad
}

.ui.notice.success {
    background: #dbffdb;
    color: #1f991f
}

.ui.notice.warning {
    background: #ffeddb;
    color: #e57300
}

.ui.notice.danger {
    background: #ffdbdb;
    color: #f33
}

.ui.tag {
    display: inline-block;
    padding: .03rem .05rem;
    line-height: 1;
    white-space: nowrap;
    -moz-border-radius: .03rem;
    -webkit-border-radius: .03rem;
    border-radius: .03rem;
    background: #E3E3E3;
    font-size: .11rem;
    color: #666
}

.ui.tag.primary {
    background: #f60;
    color: #FFF
}

.ui.tag.rounded {
    -moz-border-radius: .1rem;
    -webkit-border-radius: .1rem;
    border-radius: .1rem
}

.ui.table {
    width: 100%
}

.ui.table tr td, .ui.table tr th {
    border-bottom: 1px solid #DDD;
    line-height: 2.5;
    -align: top;
    padding: 5px
}

.ui.table tr:nth-last-child(1) td, .ui.table tr:nth-last-child(1) th {
    border-bottom: 0
}

.ui.table tr td.active, .ui.table tr th.active, .ui.table tr.active {
    background: #f5f5f5
}

.ui.table tr td.success, .ui.table tr th.success, .ui.table tr.success {
    background: #dff0d8
}

.ui.table tr td.warning, .ui.table tr th.warning, .ui.table tr.warning {
    background: #fcf8e3
}

.ui.table tr td.danger, .ui.table tr th.danger, .ui.table tr.danger {
    background: #f2dede
}

.ui.table tr td.info, .ui.table tr th.info, .ui.table tr.info {
    background: #d9edf7
}

.ui.table.striped tr:nth-child(2n) td, .ui.table.striped tr:nth-child(2n) th {
    background: #F6F6F6
}

.ui.table.border {
    border: 1px solid #DDD;
    border-right: 0
}

.ui.table.border tr td, .ui.table.border tr th {
    border-right: 1px solid #DDD
}

.ui.table.rounded {
    border: 1px solid #DDD;
    border-right: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-collapse: separate
}

.ui.table.rounded tr td, .ui.table.rounded tr th {
    border-right: 1px solid #DDD
}

.ui.table.rounded tr:nth-child(1) td:nth-child(1), .ui.table.rounded tr:nth-child(1) th:nth-child(1) {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px
}

.ui.table.rounded tr:nth-child(1) td:nth-last-child(1), .ui.table.rounded tr:nth-child(1) th:nth-last-child(1) {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px
}

.ui.table.rounded tr:nth-last-child(1) td:nth-child(1), .ui.table.rounded tr:nth-last-child(1) th:nth-child(1) {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px
}

.ui.table.rounded tr:nth-last-child(1) td:nth-last-child(1), .ui.table.rounded tr:nth-last-child(1) th:nth-last-child(1) {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px
}

.ui.table-responsive {
    border: 1px solid #DDD;
    overflow-y: hidden;
    width: 100%
}

.ui.table-responsive .ui.table tr td, .ui.table-responsive .ui.table tr th {
    white-space: nowrap
}

.ui.list > li:not(.anchor) {
    background: #FFF;
    font-weight: 300;
    padding: .08rem;
    border-bottom: inset 1px #CFCFCF;
    text-align: -webkit-match-parent;
    position: relative;
    font-size: .14rem
}

.ui.list > li > a {
    display: block;
    color: #000
}

.ui.list > li > a small, .ui.list > li > a strong {
    display: block;
    font-weight: 400
}

.ui.list > li.selectable:active {
    background: #0EC8FF;
    color: #FFF
}

.ui.list > li.anchor {
    font-size: .16rem;
    padding: .05rem .08rem;
    background: #CFCFCF;
    color: #FFF
}

.ui.list > li.arrow:after {
    position: absolute;
    right: .1rem;
    top: 50%;
    margin-top: -.05rem;
    width: .08rem;
    height: .08rem;
    content: '';
    border-right: .03rem solid #CFCFCF;
    border-top: .03rem solid #CFCFCF;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg)
}

.ui.tab {
    overflow: hidden;
    width: 100%
}

.ui.tab .ui.tab-nav {
    background: #FFF;
    font-size: .16rem;
    width: 100%;
    border-bottom: 1px solid #DDD;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.ui.tab .ui.tab-nav li {
    border-bottom: 2px solid transparent;
    color: #777;
    height: .36rem;
    line-height: .36rem;
    min-width: .7rem;
    text-align: center;
    width: 100%;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.ui.tab .ui.tab-nav li a {
    display: block;
    color: #777
}

.ui.tab .ui.tab-nav li.current {
    border-bottom: 2px solid #00a5e0;
    color: #00a5e0
}

.ui.tab .ui.tab-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.ui.tab .ui.tab-content > li {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.ui.dialog-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .75);
    z-index: 5999;
    display: none
}

.ui.dialog {
    width: 60%;
    word-break: break-all;
    z-index: 10001;
    text-align: center;
    background-color: rgba(253, 253, 253, .95);
    -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, .07);
    box-shadow: 0 2px 12px rgba(0, 0, 0, .07);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.ui.dialog .ui.dialog-cnt h4 {
    padding: 0 10px;
    height: .44rem;
    line-height: .44rem;
    border-bottom: 1px solid #DDD;
    font-size: .16rem;
    color: #1f1f21;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400
}

.ui.dialog .ui.dialog-cnt > div {
    text-align: center;
    font-size: .14rem;
    padding: .25rem .1rem
}

.ui.dialog .ui.dialog-btn {
    border-top: 1px solid #DDD;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.ui.dialog .ui.dialog-btn .ui.button {
    height: .44rem;
    line-height: .44rem;
    background: 0 0;
    font-size: .16rem;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.ui.dialog .ui.dialog-btn .ui.button.cancel {
    color: rgba(24, 103, 194, .81)
}

.ui.dialog .ui.dialog-btn .ui.button:not(:nth-child(1)) {
    border-left: 1px solid #D6D6D6
}

.ui.panel-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    opacity: 0;
    z-index: 5999;
    display: none
}

.ui.panel {
    width: 2.6rem;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: auto;
    background: #F2F2F2;
    z-index: 6000;
    padding: .1rem;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform
}

.ui.panel.left-panel {
    left: 0;
    left: -2.6rem
}

.ui.panel.left-panel.active {
    -webkit-transform: translate3d(2.6rem, 0, 0);
    transform: translate3d(2.6rem, 0, 0)
}

.ui.panel.right-panel {
    right: 0;
    right: -2.6rem
}

.ui.panel.right-panel.active {
    -webkit-transform: translate3d(-2.6rem, 0, 0);
    transform: translate3d(-2.6rem, 0, 0)
}